.errorField {
  color: #e6393e;
  font-weight: 400;
  font-size: 12px;
  font-family: Poppins, sans-serif;
  line-height: 1.66;
  text-align: left;
  margin-top: 3px;
  margin-right: 14px;
  margin-bottom: 0;
  margin-left: 14px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 400;
  margin-top: 5px;
}
